* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    width: 100%;
    display: inline-flex;
}

header h1 {
    float: left;
    font-size: 48px;
    padding-right: 30px;
}

header h1 .seo {
    color: #d9dcd6;
}

header div{
    padding-top: 15px;
    margin-right: 0;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*nav list wraps for smaller screens*/
header div ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    
}

header div ul li {
    margin-left: 25px;
    text-align: right;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/*hero img smaller to adjust to smaller screens*/
.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*threeblock img floats*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*main content contains threeblock and benefits*/
.content {
    display: flex;
    margin: 0 10px 10px 10px;
    height: auto;
}
.threeBlock {
    padding: 10px 10px 15px 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    top: 500px;
}
/*three block sections: 1,2,3*/
.block1, .block2, .block3 {
    padding: 30px;
    min-height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
.block1, .block2 {
    margin-bottom: 20px;
}

.threeBlock img {
    max-height: 210px;
}

.threeBlock h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*benefits column*/
.benefits {
    padding: 20px 15px 5px 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    top: 500px;
    width: 20%;
    right: 20px;
    color: #ffffff;
    margin: 10px 5px 15px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits h3 {
    margin-bottom: 5px;
    padding: auto;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 5px auto;
    max-width: 120px;
}

/*adjusted footer to match header*/
footer {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    width: 100%;
    min-height: 80px;
    width: 100%;
    display: inline-block;
    
}
footer h2 {
    font-size: 20px;
    text-align: left;
}
footer p{
    text-align: right;
    padding-left: 10px;
}
/*adjusted css for smaller screen size*/
@media screen and (max-width: 800px) {
    .content{
        margin: 0;
        padding: 0;
    }
    .threeBlock {
      margin: 0;
      padding: 5px;
      width: 70%;
        
    }
    .threeBlock img {
        height: 120px;
        float: left;
    }
    .threeBlock h2 {
        margin-bottom: 10px;
        font-size: 28px;
    }
    .benefits {
        margin: 5px 0 5px 0;
        padding: 5px;
        width: 27%;
    }
    .benefits h3 {
        margin-bottom: 0;
        font-size: 16px;
        padding: auto;
        text-align: center;
    }

}
